#fonts {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

#text_fonts {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}
#freeform {
    font-size: 20px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}